{% extends 'layout.html' %}
{% set title = 'Navigation' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <h2>Navigate</h2>
    <p>{{ message }}</p>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form method="POST" action="{{ url_for('main_bp.navigation') }}">
                {{ form.csrf_token }}
                <dl>
                    {{ render_field(form.mean, class="form-control") }}
                    {{ render_field(form.start, class="form-control") }}
                    {{ render_field(form.end, class="form-control") }}
                </dl>
                <br>
                <button type="submit" class="btn btn-primary">Go</button>
                <button type="reset" class="btn btn-primary">Clear</button>
            </form>
        </div>
    </div>
{% endblock %}
